<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="user" class="edu.nf.ch06.Users">
<!--        &lt;!&ndash;构造方法注入&ndash;&gt;-->
<!--        <constructor-arg name="userName" value="user1"/>-->
<!--        <constructor-arg name="age" value="21"/>-->
<!--        &lt;!&ndash;注入list集合&ndash;&gt;-->
<!--        <constructor-arg name="address">-->
<!--            <list>-->
<!--                <value>广州</value>-->
<!--                <value>珠海</value>-->
<!--            </list>-->
<!--        </constructor-arg>-->
<!--        &lt;!&ndash;注入map集合&ndash;&gt;-->
<!--        <constructor-arg name="card">-->
<!--            <map>-->
<!--                &lt;!&ndash;一个entry代表一个键值对&ndash;&gt;-->
<!--                <entry key="工行" value="123124324532"></entry>-->
<!--            </map>-->
<!--        </constructor-arg>-->
<!--        &lt;!&ndash;注入Properties对象&ndash;&gt;-->
<!--        <constructor-arg name="prop">-->
<!--            <props>-->
<!--                <prop key="aa">123456</prop>-->
<!--            </props>-->
<!--        </constructor-arg>-->

        <!--通过set方法注入-->
        <property name="userName" value="user2"/>
        <property name="age" value="22"/>
        <property name="address">
            <list>
                <value>广东</value>
                <value>珠海</value>
            </list>
        </property>
        <property name="card">
            <map>
                <entry key="工行" value="1213143"></entry>
            </map>
        </property>
        <property name="prop">
            <props>
                <prop key="aa">132445</prop>
            </props>
        </property>
    </bean>


</beans>